@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-G3Architects {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* share style */
.display-flix{
  display: flex;
}
.dark-2{
  color: #424242;
}
.dark-3{
 color: #727272; 
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
main > section{
  margin-top: 130px;
}
/* navber style */
.nav-item{
  list-style: none;
  margin-left: 30px;
}
.nav-link{
  text-decoration: none;
  font-size: 500;
}
.navber{
  justify-content: space-between;
  align-items: center;
}

.banner, .navber, .main2 {
  max-width: 1440px;
  margin: 0 auto;
}
.brand{
  font-weight: bold;
  font-size: 3rem;
}

/* Banner section */
.banner-headig{
  font-size: 4rem;
  font-weight: bold;
  color: #131313;
}
.banner-containar{
  max-width: 868px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-discrib{
  margin-top: 25px;
  margin-bottom: 32px;
  font-size: 1rem;

}
.banner-image{
  width: 100%;
}
/* Feture style */
.team-image-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team{
  align-items: center;
}
.team-feture{
  margin-left: 73px;
  max-width: 537px;
}
/* Feture work */
.team-feture-h3{
  font-size: 2.8rem;
}
#quick{
  font-weight: 500;
}
.of-our{
  font-weight: bold;
  color: #131313;

}
#feture{
  font-weight: bold;
  color: #FF900E;
}
/* Future 222 */
.future-22pra{
  font-size: 1rem;
  color: #727272;
  max-width: 586px;
  max-height: 78px;
}
.future-h2{
  font-size: 2.81rem;
  color: #131313;
  max-width: 468px;
  max-height: 106px;
  
}
#h3dagar-jonno{
  border-left: 5px solid tomato;
  padding-left: 21px;

}
.card-h3{
  font-size: 1.25rem;
  font-weight: 600;
  max-width: 252px;
  max-height: 24px;
  color: #131313;
  /* margin-top: 0px; */
  margin-bottom: 15px;
}
.card-pra{
  font-size: 1rem;
  color: #727272;
  max-width: 514px;
  max-height: 78px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.future-card-contanar{
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}
.featires{
  gap: 140px;
}
#Experience-button{
  padding: 45px 42px;
  margin-left: -100px;
  margin-top: -100px;
}
#btn-boroid{
  font-size: 4rem;
  font-weight: bold;
  max-width: 258px;
  max-height: 108px;
  color: white;
}
#ecprience{
  font-size: 1.56rem;
  font-weight: 500;
}
/* Fatcs Section work */

.Facts-h2{
  font-size: 2.81rem;
  color: #131313;
}
.facts-pra{
  font-size: 1rem;
  color: #727272;
  max-width: 542px;
  max-height: 52px;
  margin-bottom: 100px;
}
.fact-ihh{
  border: 1px solid tomato;
  width: 241px;
  height: 241px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.facts-containar{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-number{
  margin-top: 10px;
  font-size: 2.81rem ;
  font-weight: 600;
  color: #424242;
}
.fact-name{
  margin-top: 5px;
  font-size: 1.25rem;
  font-weight: 600;
  color: #727272;
}
.fact-icone{
  margin-top: 50px;
}
/* Sponser section  */
.sponsore-containar{

}
.sopnsar-hed-pra{
  max-width: 542px;
  max-height: 130px;
  margin: 50px auto;
  text-align: center;
}
.sponser-pra{
  font-size: 1rem;
  color: #727272;
}
.sopnsor-image{
  filter: grayscale(100%);
}
.sponsor-image-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);

}

/* Small device Media Responsive work */
@media screen and (max-width: 576px) {
  .nav-link, .navber, .team{
    flex-direction: column;
  }
  .future-h2{
    margin-bottom: 100px;
  }
  .featires{
    flex-direction: column;
  }
  .fetire-architec img{
    width: 100%;
  }
  #Experience-button{
   margin-top: 20px;
   margin-left: 20px;
  }
  .team-image-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .facts-containar{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 24px;
  }
  .team-feture{
    margin-left: 20px;
  }
  .sponsor-image-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    justify-items: center;

  }
}
/* Mediam device responsive work */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .team{
    flex-direction: column;
    
  }
   .team-feture{
    margin-right: 50px auto;
  }
  .facts-containar{
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 24px;
}
.sponsor-image-container{
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-items: center;

  }
  
  .featires{
    flex-direction: column;
    align-items: center;
t  }
  .fetire-architec img{
    width: 100%;
  }
  #Experience-button{
   margin-top: 20px;
   margin-left: 200px;
  }
.Facts-h2, .facts-pra{
justify-content: center;


}
}

