@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-G3Architects {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* share style */
.display-flix{
  display: flex;
}
.dark-2{
  color: #424242;
}
.dark-3{
 color: #727272; 
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
main > section{
  margin-top: 130px;
}
/* navber style */
.nav-item{
  list-style: none;
  margin-left: 30px;
}
.nav-link{
  text-decoration: none;
  font-size: 500;
}
.navber{
  justify-content: space-between;
  align-items: center;
}

.banner, .navber, .main2 {
  max-width: 1440px;
  margin: 0 auto;
}
.brand{
  font-weight: bold;
  font-size: 3rem;
}

/* Banner section */
.banner-headig{
  font-size: 4rem;
  font-weight: bold;
  color: #131313;
}
.banner-containar{
  max-width: 868px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-discrib{
  margin-top: 25px;
  margin-bottom: 32px;
  font-size: 1rem;

}
.banner-image{
  width: 100%;
}
/* Feture style */
.team-image-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team{
  align-items: center;
}
.team-feture{
  margin-left: 73px;
  max-width: 537px;
}
/* Media Responsive work */
@media screen and (max-width: 576px) {
  .nav-link, .navber{
    flex-direction: column;
  }
}
.team-feture-h3{
  font-size: 2.8rem;
}
#quick{
  font-weight: 500;
}
#of-our{
  font-weight: bold;
  color: #131313;

}
#feture{
  font-weight: bold;
  color: #FF900E;
}

