@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-Influencer {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Nav  */
.aa{
  text-decoration: none;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  color: #3A3A3A;
}
.nav-h2{
  font-size: 1.5rem ;
  font-weight: bold;
  color: #3A3A3A;
}
.nav-liMain{
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  color: #3A3A3A;
  gap: 34px;
  align-items: center;
}
.nav-li{
  list-style: none;
}
.nav-Main{
  justify-content: space-between;

}
/* all section use */
.display-flix{
  display: flex;
}
.container{
  max-width: 1440px;
  margin: 20px 120px;
  
}

/* Influencer Section */
.Influencer-h2{
  font-size: 3.25rem;
  font-weight: bold;
  color: #3A3A3A;
  margin-bottom: 16px;
}
.Influencer-div1{
  max-width: 582px;
  max-height: 270px;
  margin-right: 133px;
}
.Influencer-p{
  font-size: 1rem;
  font-weight: 600;
  color: #3A3A3A;
  max-width: 505px;
  max-height: 60px;
  margin-bottom: 16px;
}
.Influencer-section{
  margin-top: 145px;
}
.imag-div{
  margin-bottom: 100px;
  max-width: 475px;
  max-height: 475px;
  /* padding: 30px 33px 31px 2px; */
  background-image: url(images/Circle\ design.svg);
}
.btn-inf{
  margin-top: 16px;
  max-width: 196px;
  max-height: 44px;
  padding: 10px 24px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #E02C6D;
  border-radius: 41px;
  border: none;

}

/* Sponser section */
.sponser-mdiv{
  display: flex;
  max-width: 1110px;
  max-height: 110px;
  justify-content: center;  
  gap: 60px;
  border: 1px solid #C0CCDA ;

}
.sponser-imgg{
  max-width: 55px;
  max-height: 31px;
  /* margin-top: 35px auto; */
  margin: 35px auto;
  
}
.hori{
  background: linear-gradient(135.29deg, rgba(192, 204, 218, 0.1) 0%,rgba(192, 204, 218, 0.6) 50.378%,rgba(192, 204, 218, 0.1) 100%);
}
/* Popular-Collection */
.Popular-Collection{
  margin-top: 100px;
}
.Popular-h2{
text-align: center;
}
.Popular-div-main{
  max-width: 1047px;
  max-width: 1662px;
}
.Popular-Collection-image{

    padding: 17px 15px;
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
    
}
.popular-imgg{
  width: 100%;

}
.popular-he3{
  font-weight: 500;
  font-size: 28px;
  margin-top: 16px;
  margin-bottom: 6px;
  color: #18191F;
  height: 40px;

}
.popular-pra{
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 0px;
}
.popular-pra22{
  max-width: 196px;
  max-height: 61px;
  font-size: 14px;
  font-weight: bold;
  color: #787885;
  margin-top: 2px;
  /* padding: 5px 127px 27px 14px ; */
}

.popular-main2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.see-more{
  margin-top: 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #E02C6D;
  border: none;
  background-color: white;
}
.buten{
  text-align: end;
}
/* Featured products */
.btn-22{
  border-radius: 0%;
}
.Featured-h3{
  font-size: 2.37rem;
  font-weight: bold;  
  color: #0A0826;
}
.Featured-pra{
  font-size: 1rem;
  font-weight: bold;
  color: #6C6C6C;
  max-width: 500px;
  max-height: 88px;
}
.featires-main-div{
  margin-top: 100px;
  display: flex;
  max-width: 1110px;
  max-height: 270px;
  gap: 96px;
}
.Featured-image{

}
.Featured-image-div{
  max-width: 404px;
  max-height: 270px;
}
/* Footer section */
.footer-section{
  background-color: #0A0826;

}
.footer-1sdiv{
  /* width: 262px; */
  /* height: 139px; */
  text-align: center;
  padding: 50px 50px;
}
*{
  margin: 0;
}
.footer-h2{
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  /* text-align: center; */
  margin-bottom: 10px;
}

.footer-pra{
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;

}